@charset "UTF-8";

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}

/* Topnav styling */
.wrapper .topnav {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 4em;

    background-color: #022B3A;

    z-index: 1;
 }

 .wrapper .topnav .logo {
     height: 2.19em;
     width: auto;

     margin-top: 0.7em;
     margin-left: 0.4em;
     padding: 0;
     display: block;
     float: left;
 }

.wrapper .topnav .title {
    font-family: 'Poppins', sans-serif;
    margin: 0.625em;
    margin-left: 0.2em;
    float: left;
    display: block;
    color: white;
}

.wrapper .topnav button {
    padding: 0.4em 0.6em;
    margin: 0.6em;
    margin-right: 2em;
    display: block;
    float: right;

    background-color: #1f7a8c;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    border-style: none;
    border-radius: 2px;

    cursor: pointer;
    transition: 0.3s;

}

.wrapper .topnav button:hover {
    background-color: #bfdbf7;
    color: #022B3A;
}

/* Search Styling */
.wrapper .searchWrapper {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 21vw;

    border-style: solid;
    border-radius: 0.4em;
}

.wrapper .searchWrapper .titlebanner {
    height: 6vw;
    margin-top: 0;
    margin-bottom: 1em;
    top: 0;
    background-color: #022B3A;
}

.wrapper .searchWrapper .titlebanner .titlewrapper {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .searchWrapper .titlebanner .logo {
    height: 4.5vw;
    margin-top: 0.3vw;
    margin-bottom: 1.1vw;
    display: block;
    float: left;
}

.wrapper .searchWrapper .titlebanner .title {
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 3.3vW;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
    margin-left: 0.2vw;

    display: block;
    float: left;
}

.search {
    margin-left: 21.5%;
    
}

.wrapper .searchWrapper .search h2 {
    margin-left: 1vw;
}

.wrapper .searchWrapper .search .inputWrapper {
    display: flex;
    align-items: center;
}

.wrapper .searchWrapper .search  input {
    clear: both;
    display: block;
    margin: 1vw;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;

    color: #1f7a8c;
    border-color: #1f7a8c;
    border-width: 0.1em;
    border-radius: 2px;
    width: 20vw;
    height: 2em;

}

.wrapper .searchWrapper .search .inputWrapper #runsearch {
    padding: 0.2em 0.2em;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: #1f7a8c;
    background-color: white;

    border-style: solid;
    border-radius: 2px;
    border-width: 0.1em;
    border-color: #1f7a8c;
    
    margin-left: 0.5vw;
    transition: 0.3s;
}

.wrapper .searchWrapper .search .inputWrapper #runsearch:hover {
    background-color: #1f7a8c;
    color: white;
}

.wrapper .searchWrapper .search .buttonwrapper {
    width: 100%;
}

.wrapper .searchWrapper .search button {
    padding: 0.4em 0.6em;
    margin: 0.6em;
    margin-left: 1vw;
    width: 8em;
    height: 3em;
    display: inline-block;

    background-color: #1f7a8c;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    border-style: none;
    border-radius: 2px;

    cursor: pointer;
    transition: 0.3s;
}

.wrapper .searchWrapper .search .buttonwrapper button:hover {
    background-color: #bfdbf7;
    color: #022B3A;
}

/* Content styling */
.wrapper .contentWrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .contentWrapper .maincontent {
    margin-top: 4.2em;
    margin-bottom: 1.25em;
   

}

.wrapper .contentWrapper .maincontent #favouriteList {
    list-style: none;
}

.wrapper .contentWrapper .maincontent .drinkObject {
    width: 50%;
    cursor: pointer;
    margin-top: 2em;
}

.wrapper .contentWrapper .maincontent #favouriteList img {
    margin-left: 0;
    width: 100%;
    height: auto;
}

section.result {
    max-width: 73%;
    align-items: center;
}
.wrapper .contentWrapper .maincontent .result .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    clear: both;
    max-width: 100%;
    align-items: center;
}

.wrapper .contentWrapper .maincontent .result .titleWrapper h2 {
    display: block;
}
.wrapper .contentWrapper .maincontent .result p {
    display: block;
    max-width: 100%;
    margin-top: 1em;
    padding: 1em;
    border: #1f7a8c;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
}

.wrapper .contentWrapper .maincontent .result .resultWrapper #favouriteButton{
    display: block;
}

.wrapper .contentWrapper .maincontent .result .column {
    float: left;
    width: 40%;
    padding: 1em;
}

.wrapper .contentWrapper .maincontent .result .drinkIMG {
    margin-top: 1.5em;
    max-width: 100%;
    height: auto;
    
}

.fancyButton {
    padding: 0.3625em 0.325em;
    margin: 0.6em;
    margin-left: 1vw;
 
    display: inline-block;

    background-color: #1f7a8c;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    border-style: none;
    border-radius: 2px;

    cursor: pointer;
    transition: 0.3s;
}

.fancyButton:hover {
    background-color: #bfdbf7;
    color: #022B3A;
}

#thumbnail {
    margin-top: 1em;
    margin-left: 10%;
    margin-right: auto;
    
    max-width: 50%;
    height: auto;
    display: block;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.wrapper .bottomInfo, .push {
    height: 3em;
}

.wrapper .bottomInfo {
    margin: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3em;

    background-color: #1F7A8C;

    display: block;
    text-align: center;
}

/* Footer styling */
.wrapper .bottomInfo p {
    color: white;

}

/* Map styling */
.hidden{
    visibility: hidden;
}
.seen{
    visibility: visible;
}

.mapwrapper {
    margin-top: 4em;
    max-width: 73%;
}

.mapwrapper #map {
    width: 100%;
    height: 25em; 
    
}